---
import PostCard from "@components/PostCard.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import { slugify } from "src/utils/helpers";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  const uniqueCategories = [
    ...new Set(posts.map((p) => p.data.category).flat()),
  ];

  return uniqueCategories.map((category) => {
    const filteredPosts = posts.filter((post) =>
      post.data.category.includes(category)
    );
    return {
      params: { category: slugify(category) },
      props: { posts: filteredPosts, name: category },
    };
  });
}

// const { category } = Astro.params;
const { posts, name } = Astro.props;
---

<MainLayout title={name}>
  <section class="posts container" aria-label={`Posts about ${name}`}>
    <h2>Category: <span>{name}</span></h2>
    <div class="post-grid">
      {posts.map((post) => <PostCard post={post} />)}
    </div>
  </section>
</MainLayout>

<style lang="scss">
  .posts {
    min-height: calc(100vh - 198px);
    h2 {
      font-size: 34px;
      font-weight: 400;
      line-height: 28px;
      text-align: center;
      margin-bottom: 100px;
    }
    .post-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 20px;
      }
    }
  }
</style>
