---
import PostCard from "../../components/PostCard.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { slugify } from "../../utils/helpers";
import { getCollection, type CollectionEntry, getEntry } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  const uniqueAuthors = [...new Set(posts.map((p) => p.data.author).flat())];

  return uniqueAuthors.map((author) => {
    const filteredPosts = posts.filter(
      (post) => post.data.author.id === author.id
    );
    return {
      params: { author: slugify(author.id) },
      props: { posts: filteredPosts, name: author.id },
    };
  });
}

// const { author } = Astro.params;
const { posts, name } = Astro.props;
const { data: authorData } = await getEntry("authors", name);
---

<MainLayout title={`${authorData.name} | Posts`}>
  <section
    class="posts container"
    aria-label={`Posts about ${authorData.name}`}
  >
    <h2>Posts By: <span>{authorData.name}</span></h2>
    <div class="post-grid">
      {posts.map((post: CollectionEntry<"posts">) => <PostCard post={post} />)}
    </div>
  </section>
</MainLayout>

<style lang="scss">
  .posts {
    min-height: calc(100vh - 198px);
    h2 {
      font-size: 34px;
      font-weight: 400;
      line-height: 28px;
      text-align: center;
      margin-bottom: 100px;
    }
    .post-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 20px;
      }
    }
  }
</style>
