---
import { Image } from "astro:assets";
import MainLayout from "../layouts/MainLayout.astro";
import Image1 from "../assets/images/image-1.jpg";
import PostCard from "../components/PostCard.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
---

<MainLayout title="Epictetus Blog">
  <section class="hero container">
    <div class="img-wrap">
      <Image src={Image1} alt="image1" />
    </div>
    <div class="content">
      <p class="small-text">
        <span>UI design</span>
        <span>July 2, 2021</span>
      </p>
      <a href="">
        <h2>
          Understanding color theory: the color wheel and finding complementary
          colors
        </h2>
      </a>
      <p>
        Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco
        cillum dolor. Voluptate exercitation incididunt aliquip deserunt
        reprehenderit elit laborum.
      </p>
    </div>
  </section>
  <section class="blog-list">
    <div class="card-grid container">
      {
        posts && posts.length > 0
          ? posts.map((post) => <PostCard post={post} />).slice(0, 3)
          : "No posts found"
      }
    </div>
    <div class="container show-more">
      <a href="/blog">View More Posts</a>
    </div>
  </section>
</MainLayout>

<style lang="scss">
  .hero {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 31px;
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 20px;
    }
    .img-wrap {
      width: 710px;
      height: 389px;
      border-radius: 10px;
      overflow: hidden;
      @media screen and (max-width: 768px) {
        width: 100%;
        height: 176px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .content {
      .small-text {
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        opacity: 0.6;
      }
      h2 {
        font-size: 24px;
        font-weight: 400;
        line-height: 38px;
        color: #fff;
      }
      p {
        color: rgba(255, 255, 255, 0.6);
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
      }
    }
  }
  .blog-list {
    margin-top: 60px;
    .card-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 20px;
      }
    }
  }
  .show-more{
    margin-block: 4rem;
    font-size: 18px;
    display: flex;
    justify-content: center;
    a{
      color: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;
      transition: background-color 0.3s;
      padding: 8px 12px;
      &:hover {
        background-color: #758eb1;
        color: #fff;
        border-color: #758eb1;
      }
    }
  }
</style>
