---

---

<footer>
  <div class="container">
    <p>
      Copyright &copy; {new Date().getFullYear()} - Built By
      <a href="">John Mason</a>
    </p>
  </div>
</footer>

<style lang="scss">
  footer {
    padding-block: 100px;
    padding-bottom: 50px;
    text-align: center;
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      opacity: 0.6;
    }
  }
</style>
