---
import { Icon } from "astro-icon/components";

interface Props {
  length: number;
  prevUrl: string | undefined;
  nextUrl: string | undefined;
  firstUrl: string;
  currentPage: number;
}
const { length, prevUrl, nextUrl, firstUrl, currentPage } = Astro.props;
const paginationList = Array.from({ length }, (_, i) => i + 1);
---

<nav aria-label="Blog pages" class="pagination pagination-default">
  {
    prevUrl && (
      <a href={prevUrl} class="pagination__link ">
        <Icon name="mdi:chevron-left" size={24} />
      </a>
    )
  }

  {
    paginationList.map((num) => (
      <a
        href={`${firstUrl}${num == 1 ? "" : "/" + num}`}
        class={`pagination__link page__num ${
          currentPage == num ? "disabled active" : ""
        }`}
      >
        {num}
      </a>
    ))
  }

  {
    nextUrl && (
      <a href={nextUrl} class="pagination__link">
        <Icon name="mdi:chevron-right" size={24} />
      </a>
    )
  }
</nav>

<style lang="scss">
  .pagination {
    display: flex;
    justify-content: center;
    margin-block: 4rem;
    gap: 4px;

    &__link {
      width: 40px;
      height: 40px;
      color: #fff;
      border: 1px solid transparent;
      border-radius: 4px;
      transition: all 0.3s ease;
      display: flex;
      align-items: center;
      justify-content: center;

      &.disabled {
        pointer-events: none;
        opacity: 0.6;
      }

      &.active {
        background-color: #758eb1;
        color: #fff;
        border-color: #758eb1;
      }

      &:hover:not(.disabled) {
        background-color: #758eb1;
      }
    }
  }
</style>
