---
import MainLayout from "../../layouts/MainLayout.astro";


---

<MainLayout title={`Search result`}>
  <section class="search container" >
    
  </section>
</MainLayout>

<style lang="scss">
  .search {
    min-height: calc(100vh - 198px);
  }
</style>
