---
import { type CollectionEntry } from "astro:content";
import PostHeader from "../components/PostHeader.astro";
import MainLayout from "./MainLayout.astro";

interface Props {
  entry: CollectionEntry<"posts">;
}

const { entry } = Astro.props;
const { title } = entry.data;
---

<MainLayout {title}>
  <PostHeader entry={entry} />
  <div class="post-content">
    <div class="container content">
      <slot />
    </div>
  </div>
</MainLayout>

<style lang="scss">
  .post-content{
    .content{
      max-width: 708px;
      width: 100%;
    }
  }
</style>